<footer>
    <div class="footer__sections">
        <section class="links">
            <h2>Quick Links</h2>
            <ul>
                <li>Home</li>
                <li>About Us</li>
                <li>Services</li>
                <li>Contact</li>
            </ul>
        </section>
        <section class="services">
            <h2>Services</h2>
            <ul>
                <li>Contact us</li>
                <li>Write us</li>
                <li>Call us</li>
            </ul>
        </section>
        <section class="info">
            <section class="address">
                <h2>Address</h2>
                <p>Sofia, Bulgaria</p>
            </section>
            <section class="email">
                <p>
                    info@intime.com
                </p>
                <p>(01) 800 854 633</p>
            </section>
        </section>
        <section class="follow">
            <h2>Follow Us</h2>
            <ul>
                <li><a href=""><i class="fab fa-facebook-f"></i></a></li>
                <li><a href=""><i class="fab fa-twitter"></i></a></li>
                <li><a href=""><i class="fab fa-github"></i></a></li>
                <li></li>
                <li></li>
            </ul>
        </section>
    </div>
    <div class="copy">
        <p>Copyright © 2018 Movie Coliseum. All Rights Reserved. Movie Coliseum</p>

    </div>
</footer>