<div class="card">
    <img class="image" [src]="movie.imgUrl ? movie.imgUrl : ['/assets/NoImageFound.png']" alt="asd">
    <section class="info-section">
        <h3 class="name">{{movie.movieName | shorten:22}}</h3>
        <p class="info">
            {{movie.movieDescription | shorten:120}}
        </p>
    </section>
    <section class="button-section">
        <button>More info</button>
        <button class="thumbs-up"><i class="fas fa-thumbs-up"></i></button>
        <button class="thumbs-down"><i class="fas fa-thumbs-down"></i></button>
        <button class="favorite"><i class="fas fa-star"></i></button>
    </section>
</div>