<div class="card">
    <img class="image" [src]="movie.imgUrl ? movie.imgUrl : ['/assets/NoImageFound.png']" alt="asd">
    <section class="info-section">
        <h3 class="name">{{movie.movieName | shorten:22}}</h3>
        <p class="info">
            {{movie.movieDescription | shorten:120}}
        </p>
    </section>
    <section class="button-section">
        <button [routerLink]="['/movies', movie._id]">More info</button>
        <!-- <button *ngIf="(isLoggedIn$ | async) && canLike(movie.posts)" class="thumbs-up"><i
                class="fas fa-thumbs-up"></i></button>
        <button *ngIf="(isLoggedIn$ | async) && !canLike(comment)" class="thumbs-down"><i
                class="fas fa-thumbs-down"></i></button>
        <p><span>{{comment.likes.length}}</span> likes</p> -->
        <button class="favorite"><i class="fas fa-star"></i></button>
    </section>
</div>