<div class="card">
    <img class="image" src="assets/movie-wellcome-overlay.jpg" alt="asd">
    <section class="info-section">
        <h3 class="name">Card Title</h3>
        <p class="info">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima consequuntur possimus quo
            enim
            eveniet,
            deserunt ducimus doloremque laudantium iure, ut inventore eaque fugit ex porro totam
            perspiciatis
            molestiae corporis. Odio!
        </p>
    </section>
    <section class="button-section">
        <button>More info</button>
        <button><i class="fas fa-thumbs-up"></i></button>
        <button><i class="fas fa-thumbs-down"></i></button>
    </section>
</div>

<div class="card">
    <img class="image" src="./images/Image1.jpg" alt="asd">
    <section class="info-section">
        <h3 class="name">Card Title</h3>
        <p class="info">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima consequuntur possimus quo
            enim
            eveniet,
            deserunt ducimus doloremque laudantium iure, ut inventore eaque fugit ex porro totam
            perspiciatis
            molestiae corporis. Odio!
        </p>
    </section>
    <section class="button-section">
        <button>More info</button>
        <button><i class="fas fa-thumbs-up"></i></button>
        <button><i class="fas fa-thumbs-down"></i></button>
    </section>
</div>

<div class="card">
    <img class="image" src="./images/Image1.jpg" alt="asd">
    <section class="info-section">
        <h3 class="name">Card Title</h3>
        <p class="info">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima consequuntur possimus quo
            enim
            eveniet,
            deserunt ducimus doloremque laudantium iure, ut inventore eaque fugit ex porro totam
            perspiciatis
            molestiae corporis. Odio!
        </p>
    </section>
    <section class="button-section">
        <button>More info</button>
        <button class="thumbs-up"><i class="fas fa-thumbs-up"></i></button>
        <button class="thumbs-down"><i class="fas fa-thumbs-down"></i></button>
        <button class="favorite"><i class="fas fa-star"></i></button>
    </section>
</div>