<main>
    <section id="hero">

        <h1>Wellcome to the Movie Coliseum</h1>
        <h1 class="headingShadow">Wellcome to the Movie Coliseum</h1>
        <span class="info-wrap">
            <p>
                Movie Coliseum links to various movies and series available on web. Movie Coliseum is the best site to
                rate
                movies and coment on them. Movie Coliseum offers conections.
                You will find trailers, descriptions, and many more.
            </p>
            <div class="infoText-overlay"></div>
        </span>
        <div class="overlay"></div>
        <button type="button" routerLink="/movies"> See our movies!</button>
    </section>
</main>